
.forget-password-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 h2 {
    text-align: center;
}
.forget-password-container input[type="email"],
.forget-password-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.forget-password-container input[type="submit"] {
    background-color: #57ccce;
    color: white;
    border: none;
    cursor: pointer;
}
.forget-password-container input[type="submit"]:hover {
    background-color: #45a049;
}